= form_for(@task) do |f|
  - if @task.errors.any?
    #error_explanation
      %h4= "#{pluralize(@task.errors.count, "error")} prohibited this task from being saved:"
      %ul
        - @task.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :deadline
    -#= f.datetime_select :deadline
    = f.text_field :deadline
  .field
    = f.label :completed
    = f.check_box :completed
  .actions
    = f.submit
