= stylesheet_link_tag 'tasks'
= javascript_include_tag "tasks"

%h3 Task List

.ui-widget.grid-widget
  .ui-widget-header.ui-corner-top Listing Tasks
  .ui-widget-content
    %table
      %tr
        %th Name
        %th Description
        %th Deadline
        %th Completed
        %th
        %th
        %th

      - @tasks.each do |task|
        %tr
          %td= task.name
          %td= task.description
          %td= task.deadline
          %td.colored= task.completed
          %td= link_to 'Show', task
          %td= link_to 'Edit', edit_task_path(task)
          %td= link_to 'Destroy', task, :confirm => 'Are you sure?', :method => :delete

  .ui-widget-footer
    #button
      = link_to(new_task_path, class: 'fg-button ui-button ui-state-default ui-corner-all') do
        %span{ class: 'ui-icon ui-icon-pencil', style: 'float: left'}
        New Task
           
