%html
  %head
    %title Todo
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.14/themes/redmond/jquery-ui.css'
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"
    = javascript_include_tag 'jquery-ui-timepicker-addon'
    = javascript_include_tag "application"

    = csrf_meta_tags
  %body
    %h1 Task Management
    %hr
    = yield
